
@model MyFace.Models.ViewModels.LoginViewModel

@section Styles {
    <link href="@Url.Content("~/Content/signup.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.Title = "Sign Up :: My🙂Face";
}


@using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div class="limited-width-container">
    <h1>Sign Up to My🙂Face</h1>
    <div class="form-horizontal">
        <div class="form-row">
            @Html.LabelFor(model => model.UserName)
            @Html.EditorFor(model => model.UserName)
        </div>
        <div class="form-row">
            @Html.LabelFor(model => model.Password)
            @Html.EditorFor(model => model.Password)
            </div>
        <div class="form-row">
            @Html.LabelFor(model => model.FullName)
            @Html.EditorFor(model => model.FullName)
        </div>
        <input type="submit" value="Sign up!" class="btn btn-default" />
    </div>
</div>
}
