@using MyFace.Controllers
@model MyFace.Models.ViewModels.WallViewModel

@{
    ViewBag.Title = Model.OwnerUsername + "'s Wall :: My🙂Face";
}

@section Styles {
    <link href="@Url.Content("~/Content/wall.css")" rel="stylesheet" type="text/css" />
}

<div class="limited-width-container">
    <h1>@Model.OwnerUsername's wall</h1>

    @foreach (var post in Model.Posts)
    {
        <div class="post-sender">
            @Html.ActionLink($"🙂 {@post.Sender}", "Index", "Wall", new { username = Model.OwnerUsername }, new { @class = "user-link" })
            says:
        </div>
        @post.Content
    }

    <h1>Write something on @Model.OwnerUsername's wall!</h1>


    @using (Html.BeginForm("NewWall", "Wall", FormMethod.Post))
    {
        <div>
            @Html.HiddenFor(model => model.OwnerUsername)
            @Html.EditorFor(model => model.NewPost)
            <input type="submit" value="Post!"/>
        </div>
    }
</div>
