@model MyFace.Models.ViewModels.WallViewModel

@{
    ViewBag.Title = Model.OwnerUsername + "'s Wall :: My🙂Face";
}

@section Styles {
    <link href="@Url.Content("~/Content/wall.css")" rel="stylesheet" type="text/css" />
}

    <div class="limited-width-container">
        <h1>@Model.firstname @Model.surname's wall</h1>

        @foreach (var post in Model.Posts)
        {
            <div class="post-sender">
                @Html.ActionLink($"🙂 {@post.sender}", "Index", "Wall", new { username = Model.OwnerUsername }, new { @class = "user-link" })
                says:
            </div>
            @post.post_content

        <table>
            <tr>
                <td>
                    @using (Html.BeginForm("AddLike", "Wall", FormMethod.Post))//like
                    {
                        
                        {
                        <input type="submit" value="👍" class="iconButton" />
                        <input type="hidden" name="post_id" value="@post.post_id" />
                        <input type="hidden" name="OwnerUsername" value="@Model.OwnerUsername" />
                        }
                    }    
                </td>
                <td>

                @using (Html.BeginForm("AddDislike", "Wall", FormMethod.Post))//unlike
                {
                   
                    {
                    <input type="submit" value="👎" class="iconButton" />
                    <input type="hidden" name="post_id" value="@post.post_id" />
                    <input type="hidden" name="OwnerUsername" value="@Model.OwnerUsername" />
                    }
                }
                </td>
                <td>
            @using (Html.BeginForm("RemoveWall", "Wall", FormMethod.Post))//delete post
            {
                if (post.sender == User?.Identity?.Name || post.recipient == User?.Identity?.Name)
                {
                    <input type="submit" value="❌" class="iconButton" />
                    <input type="hidden" name="post_id" value="@post.post_id" />
                    <input type="hidden" name="OwnerUsername" value="@Model.OwnerUsername" />
                }
            }
                </td>
            </tr>
        </table>

        }

        <h1>Write something on @Model.firstname @Model.surname's wall!</h1>
    
        <div>
        @using (Html.BeginForm("NewWall", "Wall", FormMethod.Post))
        {
                @Html.HiddenFor(model => model.OwnerUsername)
                @Html.EditorFor(model => model.NewPost)
                <input type="submit" value="Post!" />
        }
    
        @using (Html.BeginForm("NewWave", "Wall", FormMethod.Post))
        {
                <input type="hidden" name="OwnerUsername" value="@Model.OwnerUsername" />
                <input type="submit" value="👋" class="iconButton" />
        }
        </div>
    </div>
